body{
  margin: 0;
  padding: 0;
}
.colors{
  background-color: black;
  /* height: 600px; */
  height: 658px;
  /* margin-top: 0s; */
}
.solBox{
  background-color: #f48750;
  margin-top: 50px;
  height: 780px;
}
.serBox{
  background-color: black;
  background-image: url('https://mfilterit-website.vercel.app/Funnel.gif');
  background-position: center;
  /* background-size: cover; */
  background-repeat: no-repeat;
  height: 2639px;
  width: 100%;
}
.bgclr{
  background-color:#e5e5e5;
  height: 800px;
}
.foot{
  height: 400px;
  background-color: #f48750;
}
.comp{
  height: 600px;
}
.body{
  overflow: hidden;
}
.pos{
  z-index: 1;
}
.posi{
  z-index: -1;
}